<h3> Thông tin Person: @ViewBag.AP</h3>
<form asp-action="Index">
    <label>Person ID:</label>
    <input type="number" name="PersonID">
    <br>
    <label>Person String:</label>
    <input type="text" name="Personstring">
    <br>
    <label>Person Age:</label>
    <input type="text" name="PersonAge">
    <br>
    <input type="submit" value="Save">
</form>