@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello HellO</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form asp-action="Index">
    <label> Enter Name:</label>

    <input type="text"name="FullName">
    <br/>
    <label> Enter email</label>
    <input type="text" name="email">
    <br>
    
    <input type="submit" value="Save">
</form>
<h2>@ViewBag.name</h2>

